<div class="page-content">
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>
        <%= render "listing", order: order %>
      <% end %>
    </div>
    <%= paginate @orders, theme: "twitter-bootstrap-3" %>
  </div>
</div>
