.status-upload {
  margin-top: 10px;
}
.status-upload button {
  float: right;
  font-family: Lato;
  font-size: 14px;
  margin-right: 2px;
  margin-top: 5px;
  padding: 6px 15px;
}
.status-upload form textarea {
  width:100%;
  border: 1px solid #ccc;
}
.detail-product{
  margin-top: 30px;
}
