<% provide :title, t("admin.users.edit") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="text-center panel-title"><%= t "admin.users.edit" %></h1>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>
