<div class="footer">
  <div class="container">
    <ul class="footer_nav">
      <li><a href="#"><%= t ".home" %></a></li>
      <li><a href="#"><%= t ".features" %></a></li>
      <li><a href="#"><%= t "static_page.contact" %></a></li>
      <li><a href="#"><%= t ".about" %></a></li>
    </ul>
  </div>
</div>
